<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/Css/Style.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/Scripts/Script.js"></script>
    <meta charset="utf-8" />
    <title>Tildes Sida</title>
</head>

<body id="body">
    <h1 id="Header" align="right">Välkommen till Tildes hemsida</h1>
    <form id="inputForm">
        <input id="inputField" type="text" />
        <input id="searchButton" type="button" value="Sök" />
    </form>
    <div id="imageDiv">
        <img id="image"/>
    </div>
</body>
</html>
